*{
    margin: 0;
    padding: 0;
    /* border: #5574b8 solid 1px; */
}
body {
    background-image: url(../img/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.footer {
    background-color: transparent;
    width: 100%;
    height: 74px;
    position: absolute;
    bottom: 0;
    margin-top: 10px;
    transition: all 0.5s;
}
.footer p{
    color: #434343;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s;

}
.footer:hover{
    background-color:#b0c3cc ;

}
.footer:hover .back {
    text-shadow: 0 0 0.2em rgb(255, 255, 255);
    color: #ffffff;
}



p {
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體";
    color: #434343;
}
.phone{
    display: none;
  }
  .header {
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.127);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 10px;
  }

  .logo {
    width: 60px;
    border-radius: 50px;
    cursor: pointer;
  }

  .nav {
    display: flex;
    align-items: center;
    float: right;
  }

  .nav a {
    text-decoration: none;
    color: #434343;
    margin-left: 30px;
  }

  .nav a:hover {
    color: #b0c3cc;
  }

.about {
    width: 60%;
    margin: 0 auto;
    padding: 75px 0;
}

.about .top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about .top div {
    margin: 30px 10px 0 10px;
}

.about .top h4 {
    margin: 10px 0;
    font-weight: 500;
}

.con_box {
    background-color: #b0c3cc;
    padding: 20px 0;
    word-wrap: break-word;

}

.con_box-title {
    border-bottom: 5px double rgb(255, 255, 255);

}

.con_box p,
h3 {
    text-align: center;
    color: white;
    padding: 0 30px;

}

.big_img img,
.big_img video {
    width: 100%;
    
}
.big_img{
    display: flex;
    justify-content: center;
}
iframe{
    max-width: 100%;

}

.logo {
    width: 60px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    
}

.H {
    color: #434343;
    font-size: large;
    font-weight: bold;
    border-bottom: #434343 1px solid;
    margin-bottom: 10px;

}

.button{
    width: 150px;
    padding: 5px 10px;
    margin: 0px;
    border: 3px double #ffffff;
    background-color: #b0c3cc;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.button:hover {
    border: 3px double #525252;
    color: #525252;
   background-color: white;
   transition: 0.3s ease;
}

.yt {
    width: 100%;
    height: 400px;
}



@media (max-width:700px) {
    .about {
        width: 80%;
        margin: 0 auto;
      }
      .yt {
        width: 100%;
        height: 200px;
    }
}

@media (max-width:820px) {
    .computer {
        display: none;
      }
      .phone{
        display: block;
      }
  
      .header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        padding: 0;
        padding-top: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.127);
      }
        .button{
            border: 3px double #ffffff;
            background-color: #b0c3cc;
            color: white;
        }
}
